<div class="users-page container">
<!--  <Input-->
<!--    id="searchAuthor"-->
<!--    label="Search for users"-->
<!--    onChange={handleInput}-->
<!--  />-->
  <app-search
    id="userSearch"
    label="Search user"
    (searchHandler)="onChangeSearchInput($event)"
  ></app-search>

  <div *ngIf="isLoading$ | async">Loading...</div>
  <div class="error" *ngIf="error$ | async">{{error$ | async}}</div>

  <ng-container *ngFor="let user of filterUsers(usersData)">
    <app-user [user]="user"></app-user>
  </ng-container>
</div>
